
.forcontext {
    padding-top:100px; 
    padding-left: 100px; 
}

.header-container{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.spotify{
    display: flex; 
    justify-content: left;
}

.spotify-button:hover {
    box-shadow: 3px 5px 15px #5369A4;
  
    transform: translateY(-3px) rotateY(10deg);
}

.spotify-button {
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
    max-width: 165px;
    max-height: 40px;
}

@media (max-width: 576px) { 
    .polaroid{
        padding: 10%;
       
    }
    .forcontext{
        display: none; 
    }

.header-container{
    
}
}  